:root{
    --color-gray: #48555B;
    --color-light: #ffffff;
    --color-accent: #00A4E5;

    --border: 1px solid #E6E6E6;

    --font-family-base: 'Open Sans', sans-serif;

    --container-width: 1000px;
    --container-padding-x: 30px;

    --section-padding-y: 55px;

    --button-height: 40px;

    --transition-duration: 0.2s;
}